$current-colors :(
    primary: #1177d1,
    secondary: #677889,
    success: #5cb85c,
    info: #5bc0de,
    warning: #f0ad4e,
    danger: #d9534f,
    light: #f8f9fa,
    dark: #373a3c
);


@each $color, $value in $current-colors {
    .btn-now-#{$color} {
        @include button-variant($value, $value);
    }
    .btn-outline-now-#{$color} {
        @include button-outline-variant($value);
    }
    @for $i from 0 to 50 {
        .btn-test-#{$i}-#{$color} {
            @include button-variant(darken($value, $i), darken($value, $i));
        }
        .btn-outline-test-#{$i}-#{$color} {
            @include button-outline-variant(darken($value, $i), darken($value, $i));
        }
    }
}

$mdl-colours : (
    primary: #1177d1,
    secondary: #ced4da,
    success: #357935,
    info: #1f7e9a,
    warning: #b14700,
    danger: #b52b27,
    light: #f8f9fa,
    dark: #373a3c
);

@each $color, $value in $mdl-colours{
    .btn-mdl-#{$color} {
        @include button-variant($value, $value);
    }
    .btn-outline-mdl-#{$color} {
        @include button-outline-variant($value);
    }
}

$new-colors :(
    primary: #1177d1,
    secondary: #ced4da,
    success: #398439,
    info: #5bc0de,
    warning: #f0ad4e,
    danger: #d43f3a,
    light: #f8f9fa,
    dark: #373a3c
);

$new-outline-colors :(
    primary: #1177d1,
    secondary: #677889,
    success: #398439,
    info: #1f7e9a,
    warning: #a6670e,
    danger: #d43f3a,
    light: darken(#677c91, 2%),
    dark: #373a3c
);

@each $color, $value in $new-colors {
    .btn-new-#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $new-outline-colors {
    .btn-outline-new-#{$color} {
        @include button-outline-variant($value);
    }
}

@each $color, $value in $new-colors {
    .alert-new-#{$color} {
        @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    }
}


