{{ partial "skippy" . }}

<div class="container-fluid p-0 bg-white" data-region="componentlibrary">
    <div class="row no-gutters flex-xl-nowrap">
        <div class="col-md-3 col-lg-2 sidebar">
            {{ partial "docs-sidebar" . }}
        </div>
        {{ if (eq .Page.Params.toc true) }}
        <div class="col-md-7 col-lg-8 py-md-3 pl-md-3 pr-md-3 bd-content">
        {{ else }}
        <div class="col-md-9 col-lg-10 py-md-3 pl-md-5 pr-md-5 bd-content">
        {{ end }}
            <h1 class="bd-title" id="content">{{ .Title | markdownify }}</h1>
            <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>

            {{ if .Page.Params.sections }}
                <div class="row my-5">
                    {{ range .Page.Params.sections }}
                        <div class="col-md-6 mb-4">
                            <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                                <strong class="d-block h5 mb-0">{{ .title }}</strong>
                                <span class="text-secondary">{{ .description }}</span>
                            </a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}

            {{ .Content }}
        </div>
        {{ if (eq .Page.Params.toc true) }}
        <div class="col-md-2 col-lg-2">
            <div class="sticky-top secondnav" aria-label="Secondary navigation" style="overflow-y: auto; height: 100vh;">
                {{ .TableOfContents }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>